@page "/users"
<h3><i class="fa fa-users" aria-hidden="true"></i>&nbsp;Users</h3>
@if (!string.IsNullOrWhiteSpace(Model.StatusMessage))
{
    <div class="alert alert-@Model.Status">
        <i class="fa fa-info-circle"></i>&nbsp;
        @Model.StatusMessage
    </div>
}
<SectionContent SectionName="page-buttons">    
    @if (!Model.ShowForm)
    {
        <button class="btn text-primary" @onclick="AddUser" title="Add user">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
        </button>        
    }
    <span id="grpUnselect">
        <button class="btn text-success" onclick="toggleSelect()">
            <i class="fas fa-tasks"></i>
        </button>
    </span>
    <span id="grpSelect" style="display:none">
        <button class="btn text-danger">
            <i class="fa fa-user-minus"></i>
        </button>
        <button class="btn text-secondary" onclick="toggleSelect()">
            <i class="fa fa-times"></i>
        </button>
    </span>
    <button class="btn text-warning">
        <i class="fa fa-search"></i>
    </button>
</SectionContent>

<div class="itemsList">
    <ul>
        @foreach (var usr in Model.Users)
        {
            <li data-id="@usr.ID" data-username="@usr.Username"  >
                <div class="leftindicator">                    
                    <input id="chk_@usr.ID" class="toggleSelect" type="checkbox" name="User" value="@usr.ID" style="display:none" />
                    <i class="fa fa-user toggleDeselect"></i>
                    &nbsp
                </div>
                <div class="centerdetails" onclick="$('#chk_@usr.ID').trigger('click')">
                    <h5 class="text-success" style="margin-bottom:0px">
                        @(usr.LastName + ", " + usr.FirstName)
                    </h5>
                    <h6 class="text-secondary">
                        @usr.Username
                    </h6>
                </div>
                <div class="rightaction">
                    @* <button class="btn text-secondary" @onclick="()=>{ LoadUser(usr.ID); }">
                        <i class="fa fa-ellipsis-v"></i>
                    </button> *@

                    <a class="btn text-secondary" href="/userform?userid=@usr.ID">
                        <i class="fa fa-ellipsis-v"></i>
                    </a>
                </div>
            </li>
        }        
    </ul>
</div>

@if (Model.ShowForm)
{
    <!--This is Optional-->
    <div class="pageblocker"></div>

    <div id="pneUserForm" class="pagepanelform @ClassControl">
        <h4>
            <i class="fa fa-edit"></i>&nbsp;@(Model.IsNew ? "New User" : "Edit User")
            @if (!Model.IsNew)
            {
                <button class="btn text-danger" @onclick="()=>{ DeleteUser(Model.SelectedUser.ID); }" style="float:right">
                    <i class="fas fa-trash-alt"></i>
                </button>
            }            
        </h4>
        <div class="content">
            @* <label class="form-label">ID:</label>
            <input type="text" @bind="Model.SelectedUser.ID" disabled class="form-control"> *@
            <fieldset class="@((!string.IsNullOrWhiteSpace(Model.SelectedUser.Username))? "hasText":"")">
                <legend>Username:</legend>
                <input id="txtUsername" type="text" @bind="Model.SelectedUser.Username" placeholder="Username" title="Username" class="form-control ">
            </fieldset>
            <fieldset class="@((!string.IsNullOrWhiteSpace(Model.SelectedUser.Password))? "hasText":"")">
                <legend>Password:</legend>
                <input type="password" @bind="Model.SelectedUser.Password" placeholder="Password" title="Password" class="form-control ">
            </fieldset>
            <fieldset class="@((!string.IsNullOrWhiteSpace(Model.SelectedUser.FirstName))? "hasText":"")">
                <legend>First Name:</legend>
                <input type="text" @bind="Model.SelectedUser.FirstName" placeholder="First Name" title="First Name" class="form-control ">
            </fieldset>
            <fieldset class="@((!string.IsNullOrWhiteSpace(Model.SelectedUser.LastName))? "hasText":"")">
                <legend>Last Name:</legend>
                <input type="text" @bind="Model.SelectedUser.LastName" placeholder="Last Name" title="Last Name" class="form-control ">
            </fieldset>
            <fieldset class="@((!string.IsNullOrWhiteSpace(Model.SelectedUser.MobileNumber))? "hasText":"")">
                <legend>Mobile Number:</legend>
                <input type="text" @bind="Model.SelectedUser.MobileNumber" placeholder="Mobile Number" title="Mobile Number" class="form-control ">
            </fieldset>
            <fieldset class="@((!string.IsNullOrWhiteSpace(Model.SelectedUser.Address))? "hasText":"")">
                <legend>Address:</legend>
                <textarea @bind="Model.SelectedUser.Address" placeholder="Address" title="Address" class="form-control "></textarea>
            </fieldset>
        </div>
        <div class="form-buttons">
            <button class="btn text-primary" @onclick="SaveUser">
                <i class="fa fa-save"></i>&nbsp;
                Save
            </button>
            <button id="btnCancel" class="btn text-secondary" @onclick="CloseUserForm">
                <i class="fa fa-times"></i>&nbsp;
                Cancel
            </button>
        </div>
    </div>

    <!--This JS Script would only execute ShowForm is enable-->
    <script>
        $(function(){
            //$('#txtUsername').focus();
            $('#btnCancel').focus();
            $('.form-control').on('focus',function(){
                $(this).attr('placeholder','');
                $(this).parent().addClass('hasFocus');
            });
            $('.form-control').on('blur',function(){
                $(this).attr('placeholder',$(this).attr('title'));
                $(this).parent().removeClass('hasFocus');
            });
        });
    </script>
}

<!--This JS Script would only execute ShowForm is enable-->
<script>
    $(function(){
        

    });

    function toggleSelect(){
        $('#grpUnselect').toggle();
        $('#grpSelect').toggle();

        $('.itemsList li .toggleSelect').toggle();
        $('.itemsList li .toggleDeselect').toggle();
    }
</script>

                